body {
    font-family: Arial, sans-serif;
    background:cadetblue;
}
   




.container {
    
    width: 300px;
    background:white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

a {
    text-decoration: none;
    color: blue;
}
